@import "components/functions", "components/mixins", "components/vars";

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf") format("ttf");
}

/*--------------------------Reset---------------------*/

* {
    @include reset-pm();
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

button,
hr {
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

body {
    background-color: $primary-color;
    background-image: url(../img/bgbanner.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

h2 {
    font-weight: bolder;
    font-size: size(3);
    color: $celeste-color;
}

p,
li {
    color: $font-color;
}

/*--------------------------Utilitys---------------------*/

.m-auto {
    margin: 0 auto;
}

.flexBetween {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

/*--------------------------Header---------------------*/

.header {
    @include container($pink-color);
    padding: 5px 20px 2px 20px;
}

.nav {
    &__logo {
        width: 10rem;
    }
    &__toggle {
        display: none;
    }
    &__menu {
        @include reset-pm();
        list-style: none;
        display: flex;
        gap: 1rem;
        &--link {
            transition: color 0.3s ease;
            @include btn($color: white);
            &:hover {
                transition: color 0.3s ease;
                @include btn($color: $secondary-color);
            }
        }
    }
}

/*--------------------------Welcome---------------------*/

.main {
    @include container(transparent);
    display: block;
    text-align: center;
    &__text {
        color: white;
        font-weight: bolder;
        text-shadow: 0.15rem 0.15rem $pink-color;
        font-size: 2rem;
        line-height: 3rem;
        font-family: "Kaushan Script", cursive;
    }

    &__icons {
        position: relative;
        z-index: -1;
    }
}

.main__icons > .fa-paw {
    font-size: 30px;
    color: $pink-color;
}

.paw-1 {
    transform: rotate(20deg) translateY(-20px);
    animation: show 2s ease-in-out infinite;
}

.paw-2 {
    transform: rotate(20deg) translateY(-40px);
    animation: show 2s ease-in-out infinite;
    animation-delay: 0.25s;
}

.paw-3 {
    transform: rotate(20deg) translate(-60px, -60px);
    animation: show 2s ease-in-out infinite;
    animation-delay: 0.5s;
}

.paw-4 {
    transform: rotate(20deg) translateY(-80px);
    animation: show 2s ease-in-out infinite;
    animation-delay: 0.75s;
}

.paw-5 {
    transform: rotate(20deg) translateY(-100px);
    animation: show 2s ease-in-out infinite;
    animation-delay: 1s;
}

.paw-6 {
    transform: rotate(20deg) translate(-60px, -120px);
    animation: show 2s ease-in-out infinite;
    animation-delay: 1.25s;
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: none;
        display: none;
    }
    50% {
        opacity: 1;
        visibility: none;
        display: inline-block;
    }
    100% {
        opacity: 0;
        visibility: none;
        display: none;
    }
}

/*--------------------------Catalog---------------------*/

.catalog {
    @include container($secondary-color);
    text-align: center;
    &__title {
        font-size: 3rem;
        font-family: "Kaushan Script", cursive;
        color: $font-color;
    }
    &__elements {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    &__img {
        max-height: 14rem;
        max-width: 24rem;
    }
    &__title {
        font-size: size(2.5);
        font-weight: bold;
        color: $font-color;
    }
    &__prices {
        font-size: size(5);
        font-weight: bolder;
        color: $prices-color;
    }
}

/*--------------------------Info---------------------*/

.info {
    @include container($secondary-color);
    &__item {
        &--btn {
            @include borderbox($primary-color);
            @include btnAccordion($primary-color, $font-color);
            margin: 0.5rem 0 0.5rem 0;
            &:after {
                content: "\002b";
                float: right;
            }
        }
        &--content {
            overflow: hidden;
            max-height: 0;
            background-color: $terceary-color;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
        &--list {
            color: $terceary-color;
        }
        &--text {
            color: $terceary-color;
        }
        &--title {
            color: $terceary-color;
        }
    }
}

.accordeon {
    .info__item--btn {
        &:after {
            content: "\02212";
            float: right;
        }
    }
    .info__item--content {
        overflow: visible;
        max-height: 100%;
        background-color: #00355e;
        opacity: 1;
        @include borderbox(#00355e);
        margin: 1rem 0 1rem 0;
        padding: 1rem 2rem 1rem 2rem;
        transition: 0.5s ease-in-out;
    }
    .info__item--list {
        line-height: 1.6rem;
        margin-bottom: 1rem;
        color: $font-color;
    }
    .info__item--text {
        margin-bottom: 1rem;
        line-height: 1.5rem;
        color: $font-color;
    }
    .info__item--ol {
        padding: 1rem 0 0.5rem 1rem;
    }
    .info__item--ul {
        padding-left: 1rem;
    }
    .info__item--title {
        padding: 1rem 0 1rem 0;
        line-height: 1.5rem;
        font-weight: normal;
        color: $celeste-color;
    }
}

/*--------------------------Footer---------------------*/

.footer {
    @include container(#00355e);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
    &__brand {
        text-align: right;
        &--img {
            margin: 0 0 0 0;
        }
    }
    &__contact {
        &--text {
            font-size: 0.9rem;
        }
        &--hr {
            min-height: 0.2rem;
            margin: 0.5rem 1rem 1.5rem 0;
            background-color: white;
            max-width: 35rem;
        }
        &--link {
            .icon {
                color: white;
                font-size: 1rem;
                opacity: 0.6;
            }
            .icon:hover {
                opacity: 1;
            }
        }
    }
}

/*--------------------------Ciclos---------------------*/

@for $i from 1 to $limit {
    .p-#{$i} {
        padding: $i * $unit;
    }
}

@for $i from 1 to $limit {
    .py-#{$i} {
        padding: $i * $unit 0;
    }
}

/*--------------------------Media---------------------*/

@media screen and (min-width: map-get($breakpoints, "grande")) {
    .productsNav {
        opacity: 0%;
        visibility: hidden;
        padding-top: 1rem;
        position: absolute;
        list-style: none;
        width: 200px;
        background-color: $pink-color;
        border-bottom: 0.2rem solid white;
        transition: visibility 0.2s ease, opacity 0.2s ease;
        &__vertical {
            transition: color 0.3s ease;
            @include btn($color: white);
            &:hover {
                transition: color 0.3s ease;
                @include btn($color: $prices-color);
            }
        }
    }

    .nav__menu li:hover .productsNav {
        visibility: visible;
        opacity: 100%;
        transition: visibility 0.3s ease, opacity 0.3s ease;
    }
}

@media screen and (max-width: map-get($breakpoints, "grande")) {
    .nav {
        &__toggle {
            margin-top: 0.2rem;
            display: block;
            color: white;
            font-size: 3rem;
            background: none;
            cursor: pointer;
            transition: color 0.5s ease-in-out;
            z-index: 1;
            &:hover {
                color: $secondary-color;
                transition: color 0.5s ease-in-out;
            }
        }

        &__menu {
            opacity: 0;
            visibility: hidden;
            @include flex3g();
            transition: opacity 0.4s ease, visibility 0.4s ease;
            position: absolute;
            top: 0%;
            right: 0%;
            width: 100%;
            min-height: 100%;
            background-color: $terceary-color;
            padding: 1.5rem 0 2rem 0;
            &--off {
                display: none;
            }
        }
    }

    .productsNav {
        visibility: hidden;
        opacity: 0;
        @include flex3g();
        &__vertical {
            transition: color 0.3s ease;
            @include btn($color: white);
            &:hover {
                transition: color 0.3s ease;
                @include btn($color: $secondary-color);
            }
        }
    }

    .action {
        transition: opacity 0.8s ease, visibility 0.8s ease;
        opacity: 1;
        visibility: visible;
    }
    .card__img {
        max-height: 12rem;
        max-width: 20rem;
    }
    .card__title {
        padding-top: 1rem;
    }
}

@media screen and (max-width: map-get($breakpoints, "normal")) {
    body {
        background: $celeste-color;
        .header {
            min-width: 18rem;
        }
        .footer {
            min-width: 18rem;
            &__brand--img {
                width: 100%;
            }
            &__contact {
                &--hr {
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
                &--text {
                    font-size: 10px;
                    .strong {
                        font-size: 10px;
                    }
                }
                &--link {
                    .icon {
                        font-size: 10px;
                    }
                    font-size: 10px;
                }
            }
        }
    }
}
